* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-color: rgb(32, 235, 49);
    --secondary-color: white;
    --tertiary-color: black;
}

body {
    background-color: var(--secondary-color);
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
}

#load {
    border: 2px solid var(--tertiary-color);
    width: 20rem;
    height: 20rem;
    border-left-color: var(--primary-color);
    border-radius: 50%;

    animation: loading 1s linear infinite;

    visibility: visible;
}

#erro {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1.5rem;

    visibility: collapse;
}

#erro span {
    color: var(--tertiary-color);
    font-size: 2.1rem;
}

#erro ion-icon {
    color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
}

#conectado {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1.5rem;

    visibility: collapse;
}

#conectado span {
    color: var(--tertiary-color);
    font-size: 2.1rem;
}

#conectado ion-icon {
    color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}