@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: rgb(32, 235, 49);
    --secondary-color: #fff;
    --terciary-color: #f5f5f5;
    --quarta-color: #222;
    --quinta-color: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/*---------BARRA DA ESQUERDA----------*/

.container .navigation {
    background-color: var(--primary-color);

    position: fixed;

    width: 300px;
    height: 100%;
    
    border-left: 10px solid var(--primary-color);

    transition: 0.5s;
    overflow: hidden;
}

.navigation.ativo {
    width: 80px;
}

.container .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container .navigation ul li {
    position: relative;

    width: 100%;

    list-style: none;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container .navigation ul li:hover,
.container .navigation ul li.hovered {
    background-color: var(--secondary-color);
}

.container .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.container .navigation ul li a {
    color: var(--secondary-color);
    display: block;
    display: flex;

    position: relative;

    text-decoration: none;

    width: 100%;
}

.container .navigation ul li.hovered a {
    color: var(--primary-color);
}

.container .navigation ul li a .icone {
    display: block;

    position: relative;

    min-width: 60px;
    height: 60px;
    line-height: 77px;

    text-align: center;

}

.container .navigation ul li a .icone ion-icon {
    font-size: 1.75rem;
}

.container .navigation ul li a .titulo {
    display: block;
    position: relative;

    padding: 0 10px;

    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.container .navigation ul li:hover a::before,
.container .navigation ul li.hovered a::before {
    content: '';

    position: absolute;

    right: 0;
    top: -50px;
    
    width: 50px;
    height: 50px;

    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--secondary-color);

    pointer-events: none;
}

.container .navigation ul li:hover a::after,
.container .navigation ul li.hovered a::after {
    content: '';

    position: absolute;

    right: 0;
    bottom: -50px;
    
    width: 50px;
    height: 50px;

    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--secondary-color);

    pointer-events: none;
}


/*---------MAIN FLUTUANTE------------*/

.container .main {
    background: var(--secondary-color);
    position: absolute;

    width: calc(100% - 300px);
    min-height: 100vh;
    
    left: 300px;

    transition: 0.5s;
}

.container .main.ativo {
    width: calc(100% - 80px);
    left: 80px;
}

.container .main .topbar {
    display: flex;

    width: 100%;
    height: 60px;
    padding: 0 10px;

    align-items: center;
}

.container .main .topbar .toggle {
    position: relative;

    align-items: center;
    justify-content: center;

    top: 0;
    width: 60px;
    height: 60px;

    font-size: 2.5rem;

    cursor: pointer;
}

/*------------TRANSAÇÕES----------*/

.mainTransacao {

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    width: 100%;
    height: 70vh;

    padding: 2.5rem;
    border: 1px solid red;
}

.mainTransacao table {
    width: 100%;
    border: 1px solid aqua;
}

.mainTransacao .cabecalho {
    width: 100%;
    height: 10vh;

    border: 1px solid violet;
}